$header-menu: #00a94b;
$header-search: #e8e6e6;
$catalog: #ffffff;

* {
  margin: 0;
  padding: 0;
}

html {
  background: #f5f2f2;
}

.wrapper {
  width: 1920px;
  min-height: 100%;
  margin: 0 auto;
}
/*HEADER*/
header {
  background-color: $header-menu;
}

nav {
  padding: 18px 184px 15px 184px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.menu__link {
  text-decoration: none;
  color: #ffffff;
}

.header {
  padding: 12px 184px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $header-search;
}
/*CATALOG*/
.catalog {
  padding: 9px 188px 12px 188px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  background-color: $catalog;
}

.catalog img {
  margin-bottom: 7px;
}
/*THE FIRST SECTION*/
.first {
  margin: 19px 0 173px;
  padding: 0 184px;
  display: flex;
  justify-content: space-between;
}

/*CATEGORIES*/
.categories {
  list-style-type: none;
}

.categories__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

/*SLIDER-SWIPER*/
.swiper-container {
  width: 600px;
  height: 300px;
}