$header-menu: #00a94b;
$header-search: #e8e6e6;
$catalog: #ffffff;
$footer: #232323;
$footer-copyright: #191919;

* {
  margin: 0;
  padding: 0;
}

html {
  background: #f5f2f2;
  font-family: "Myriad Pro", sans-serif;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto;
}
/*HEADER*/
header {
  background-color: $header-menu;
}

nav {
  padding: 18px 184px 15px 184px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.menu__link {
  text-decoration: none;
  color: #ffffff;
}

.header {
  padding: 12px 184px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $header-search;
}
/*CATALOG*/
.catalog {
  padding: 9px 188px 12px 188px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  background-color: $catalog;
}

.catalog img {
  margin-bottom: 7px;
}

/*THE FIRST SECTION*/
.first {
  margin: 19px 188px 19px 184px;
  display: flex;
  justify-content: space-between;
}

.categories {
  list-style-type: none;
}

.categories__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.swiper-container {
  padding: 0 20px 4px 21px;
  height: 476px;
  width: 902px;
  background-color: #232323;
}

.swiper-slide {
  display: flex;
}

.slide__image img {
  max-width: 100%;
}

.swiper-container .swiper-button-prev::after,
.swiper-container .swiper-button-next::after {
  font-size: 36px;
  line-height: 60px;
  color: #ffffff;
  font-weight: 300;
}

.brend {
  margin: 19px 187px 0;
}

.logo-brend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

/*NEWS*/
.news {
  margin: 173px 252px 0 249px;
}

.all-news {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news__second div {
  display: flex;
}

.news__text {
  flex-direction: column;
}

/*RECOMMENDED*/
.recommended {
  margin: 240px 261px 0 269px;
}

.recommended__list {
  display: flex;
}

.recommended__content {
  display: flex;
}

/*SEO*/
.seo {
  margin: 171px 307px 0 262px;
  display: flex;
}

.seo__title {
  font-size: 40px;
  font-weight: bold;
  color: #121212;
  padding-bottom: 20px;
}

.seo__subtitle, .seo__text > p:nth-child(4) {
  font-size: 18px;
  color: #121212;
  padding-bottom: 20px;
}

.seo__title2 {
  font-size: 40px;
  color: #121212;
  letter-spacing: 0.2rem;
  padding-bottom: 20px;
}

.seo__button {
  width: 49px;
  height: 49px;
  border: none;
  border-radius: 24px;
  background-color: #232323;
  font-size: 24px;
  color: #ffffff;
  font-weight: 300;
}

.logo__title {
  font-size: 40px;
  color: #121212;
}

.logo__subtitle {
  font-size: 18px;
  color: grey;
  padding-bottom: 20px;
}

.seo__logo {
  padding-left: 258px;
}

.seo__logo p:nth-child(4) {
  font-size: 20px;
  color: #121212;
}

.seo__logo p:nth-child(5) {
  font-size: 18px;
  color: grey;
  padding-bottom: 20px;
}

.seo__logo p:nth-child(6),
.seo__logo p:nth-child(7),
.seo__logo p:nth-child(8)  {
  font-size: 18px;
  color: #121212;
}

  /*FOOTER*/
.footer {
  margin-top: 172px;
  background-color: $footer;
}

.footer__list {
  padding: 93px 264px 108px 262px;
  display: flex;
  justify-content: space-between;
}

.footer__block {
  list-style-type: none;
}

.footer__block:last-child  li:nth-child(3) {
  padding-bottom: 27px;
  flex-wrap: wrap;
}

.footer__block:last-child .footer__item:nth-child(5),
.footer__block:last-child .footer__item:nth-child(7) {
  padding-bottom: 27px;
}

.footer__title {
  padding-bottom: 38px;
  font-size: 24px;
  line-height: 24px;
  color: #777777;
  font-weight: 300;
}

.footer__link,
.footer__item {
  font-size: 18px;
  line-height: 29px;
  color: #ffffff;
  font-weight: 300;
  text-decoration: none;
}

.footer__item:last-child {
  width: 210px;
}

.footer__copyright {
  padding: 46px 266px 27px;
  display: flex;
  justify-content: space-between;
  background-color: $footer-copyright;
}

.footer__left {
  display: flex;
}

.left__text p:first-child {
  font-size: 24px;
  line-height: 18px;
  color: #ffffff;
}

.left__text p:nth-child(2) {
  font-size: 16px;
  line-height: 20px;
  color: #777777;
  font-weight: 300;;
}

.footer__copyright p {
  font-size: 18px;
  line-height: 29px;
  color: #ffffff;
  font-weight: 300;
}
