$header-menu: #00a94b;
$header-search: #e8e6e6;
$catalog: #ffffff;

* {
  margin: 0;
  padding: 0;
}

html {
  background: #f5f2f2;
  font-family: "Myriad Pro", sans-serif;
}

.wrapper {
  width: 1920px;
  min-height: 100%;
  margin: 0 auto;
}
/*HEADER*/
header {
  background-color: $header-menu;
}

nav {
  padding: 18px 184px 15px 184px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.menu__link {
  text-decoration: none;
  color: #ffffff;
}

.header {
  padding: 12px 184px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $header-search;
}
/*CATALOG*/
.catalog {
  padding: 9px 188px 12px 188px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  background-color: $catalog;
}

.catalog img {
  margin-bottom: 7px;
}

/*THE FIRST SECTION*/
.first {
  margin: 19px 188px 19px 184px;
  display: flex;
  justify-content: space-between;
}

.categories {
  list-style-type: none;
}

.categories__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.swiper-container {
  padding: 0 20px 4px 21px;
  height: 476px;
  width: 902px;
  background-color: #232323;
}

.swiper-slide {
  display: flex;
}

.slide__image img {
  max-width: 100%;
}

.swiper-container .swiper-button-prev::after,
.swiper-container .swiper-button-next::after {
  font-size: 36px;
  line-height: 60px;
  color: #ffffff;
  font-weight: 300;
}

.brend {
  margin: 19px 187px 0;
}

.logo-brend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

/*NEWS*/
.news {
  margin: 173px 252px 0 249px;
}

.all-news {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news__second div {
  display: flex;
}

.news__text {
  flex-direction: column;
}

/*RECOMMENDED*/
.recommended {
  margin: 240px 261px 0 269px;
  display: flex;
}